@using Emlak_Yorumlari_WebApp.ViewModels
@model AddPlaceViewModel

@{
    ViewBag.Title = "AddPlace";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/login-register.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style type="text/css">
        .validation-summary-errors {
            border: 2px dotted;
            background-color: #d76663;
            border-radius: 8px;
        }

            .validation-summary-errors ul {
                color: white;
                padding: 10px;
                list-style-type: none;
            }
    </style>

    <script>

        $(function () {

            $('#city_ddl').change(function () {

                var id = $('#city_ddl').val();
                if ($('#city_ddl').val() == 0) {
                    $("#district_ddl").prop("disabled", true);
                    $("#quarter_ddl").prop("disabled", true);
                } else {
                    $("#district_ddl").prop("disabled", false);
                    $("#quarter_ddl").prop("disabled", false);
                }
                $.ajax({

                    url: '/Place/SetDropResult',

                    data: { p: id },

                    type: "POST",

                    dataType: "Json",

                    success: function (data) {

                        console.log(data);

                        $('#district_ddl').empty();
                        $('#district_ddl').append("<option value='" + "0" + "'>" + "ilçe Seçiniz" + "</option>");
                        for (var i = 0; i < data.length; i++) {

                            $('#district_ddl').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");

                        }

                    }

                });

            });

        });

        $(function () {

            $('#district_ddl').change(function () {

                var id = $('#district_ddl').val();
                if ($('#district_ddl').val() == 0) {
                    $("#quarter_ddl").prop("disabled", true);
                } else {
                    $("#quarter_ddl").prop("disabled", false);
                }

                $.ajax({

                    url: '/Place/SetDropResult',

                    data: { p: id },

                    type: "POST",

                    dataType: "Json",

                    success: function (data) {

                        console.log(data);

                        $('#quarter_ddl').empty();
                        $('#quarter_ddl').append("<option value='" + "0" + "'>" + "Mahalle Seçiniz" + "</option>");

                        for (var i = 0; i < data.length; i++) {

                            $('#quarter_ddl').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");

                        }

                    }

                });

            });

        });

    </script>
    @if (ViewBag.status > 0)
    {
        <script type="text/javascript">
            setTimeout(function () {
                window.location = "/Home/Homepage";
            }, 4000);
        </script>
    }
</head>
<body>

    <!------ Include the above in your HEAD tag ---------->
    <br />
    <br />
    <br />
    @using (Html.BeginForm("AddPlace", "Place", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <section class="login-info">
            <div class="container">
                <div class="row main">
                    <div class="form-header">
                        <h1 class="text-center ">Site Ekle </h1>
                    </div>
                    <div class="main-content">

                        @Html.ValidationSummary(false)
                        <div class="input-group ">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.placename, new { @class = "form-control", placeholder = "Site Adını Giriniz." })
                        </div>
                        <div class="input-group ">
                            <p class="input-group"> Şehir Seçiniz.</p>
                            @Html.DropDownListFor(x => x.city_ddl, Model.CityData, "Şehir Seçiniz", new { @class = "form-control dropdown" })
                        </div>
                        <div class="input-group ">
                            <p class="input-group"> İlçe Seçiniz.</p>
                            @Html.DropDownListFor(m => m.district_ddl, Model.DistrictData, "İlçe Seçiniz", new { @class = "form-control dropdown" })
                        </div>
                        <div class="input-group">
                            <p class="input-group"> Mahalle Seçiniz.</p>
                            @Html.DropDownListFor(m => m.quarter_ddl, Model.QuarterData, "Mahalle Seçiniz", new { @class = "form-control dropdown" })
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></span>
                            <input type="file" name="uploadfile" id="uploadfile" accept="image/png, image/jpeg, image/jpg" /> Site İçin Resim Yükle
                        </div>

                        @if (ViewBag.status > 0)
                        {
                            <p class="label label-success"> @ViewBag.message</p><br /><br />
                        }
                        else if(ViewBag.status == 0)
                        {
                            <p class="label label-danger"> @ViewBag.message</p><br /><br />
                        }
                        
                        <div class="form-group ">


                            <button href="../Home/Homepage" type="submit" class="btn btn-warning btn-lg btn-block login-button">Site Ekle</button>

                        </div>





                    </div>
                </div>
            </div>
        </section>
    }

</body>
</html>