@using System.Diagnostics.Eventing.Reader
@using Emlak_Yorumlari_WebApp.ViewModels
@using Emlak_Yorumlari_Entities
@model PlaceWithoutSurveys
<style>
    #more {
        display: none;
    }
</style>
<script>

    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Daha Fazla Göster";
            moreText.style.display = "none";
            btnText.style.visibility = "hidden";
        } else {

            btnText.style.visibility = "hidden";
            moreText.style.display = "inline";
        }
    }
</script>
<div>
    <h4 class="text-danger">Yorumlar</h4>
    <hr class="alert-danger">
    @{
        int i = 0;
    }

    @foreach (var data in Model.commentsAndPoints)
    {


        <div class="row">
            @if (i > 4)
            {
                <div class="col-md-12" id="more">

                    <p>@data.Key[0]</p>
                    <p>@Model.question1_name: @data.Value[0] - @Model.question2_name: @data.Value[1] - @Model.question3_name: @data.Value[2] </p>

                    <p>
                        @data.Key[1]
                    </p>
                    @if (Session["User"].ToString() == data.Key[0])
                    {

                        <button type="submit" class="btn btn-danger pull-right btn-xs mr-1" data-toggle="modal" data-target="#yorumSil"> Sil </button>

                        <button class="btn btn-warning pull-right btn-xs mr-10" data-toggle="modal" data-target="#yorumDuzenle">Düzenle</button>
                    }

                    <br />
                    <hr class="alert-danger" />


                </div>

            }
            else
            {
                <div class="col-md-12" id="dots">

                    <p>@data.Key[0]</p>
                    <p>@Model.question1_name: @data.Value[0] - @Model.question2_name: @data.Value[1] - @Model.question3_name: @data.Value[2] </p>

                    <p>
                        @data.Key[1]
                    </p>
                    @if (Session["User"].ToString() == data.Key[0])
                    {

                        <button type="submit" class="btn btn-danger pull-right btn-xs mr-1" data-toggle="modal" data-target="#yorumSil"> Sil </button>

                        <button class="btn btn-warning pull-right btn-xs mr-10" data-toggle="modal" data-target="#yorumDuzenle">Düzenle</button>
                    }

                    <br />
                    <hr class="alert-danger" />

                </div>

            }


        </div>

        i++;


    }
    @if (i > 4)
    {
        <button class="btn btn-link" onclick="myFunction()" id="myBtn">Daha Fazla Göster</button>
    }
    
    <hr class="alert-danger">



</div>

<!-- Button trigger modal -->
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="yorumDuzenle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Yorum Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EditComment", "PlacesProfile", new { placeId = Model.place.place_id }, FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-control">
                        <p>

                            Güven Puanı:

                            1 @Html.RadioButtonFor(x => Model.guven_puani_score, "1", new { required = "required" })
                            2 @Html.RadioButtonFor(x => Model.guven_puani_score, "2", new { required = "required" })
                            3 @Html.RadioButtonFor(x => Model.guven_puani_score, "3", new { required = "required" })
                            4 @Html.RadioButtonFor(x => Model.guven_puani_score, "4", new { required = "required" })
                            5 @Html.RadioButtonFor(x => Model.guven_puani_score, "5", new { required = "required" })

                        </p>
                    </div>
                    <br />

                    <div class="form-control">
                        <p>
                            Aktivite Alanı Puanı:
                            1 @Html.RadioButtonFor(x => Model.aktivite_alani_score, "1", new { required = "required" })
                            2 @Html.RadioButtonFor(x => Model.aktivite_alani_score, "2", new { required = "required" })
                            3 @Html.RadioButtonFor(x => Model.aktivite_alani_score, "3", new { required = "required" })
                            4 @Html.RadioButtonFor(x => Model.aktivite_alani_score, "4", new { required = "required" })
                            5 @Html.RadioButtonFor(x => Model.aktivite_alani_score, "5", new { required = "required" })
                        </p>
                    </div>
                    <br />
                    <div class="form-control">


                        <p>

                            Yönetim Memnuniyeti Puanı:
                            1 @Html.RadioButtonFor(x => Model.yonetim_memnuniyeti_score, "1", new { required = "required" })
                            2 @Html.RadioButtonFor(x => Model.yonetim_memnuniyeti_score, "2", new { required = "required" })
                            3 @Html.RadioButtonFor(x => Model.yonetim_memnuniyeti_score, "3", new { required = "required" })
                            4 @Html.RadioButtonFor(x => Model.yonetim_memnuniyeti_score, "4", new { required = "required" })
                            5 @Html.RadioButtonFor(x => Model.yonetim_memnuniyeti_score, "5", new { required = "required" })
                        </p>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Yorum Yap</label>
                        @Html.HiddenFor(x => Model.place)
                        @Html.TextAreaFor(x => Model.comment, new { @class = "form-control", row = "3", required = "required", placeholder = "Yorum Yazınız.." })<br />
                        <button type="submit" class="btn btn-primary pull-right btn-lg"><span class="glyphicon glyphicon-send"></span> Gönder</button><br />
                    </div>
                </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="yorumSil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yorum Sil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body alert-warning">
                <p class="text-justify"><b>Yorumunuzu SİLMEK istediğinizden emin misiniz?</b></p>
            </div>
            <div class="modal-footer">
                <p>
                    @using (Html.BeginForm("DeleteComment", "PlacesProfile", new { placeId = Model.place.place_id }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-primary">Sil</button><br />
                    }
                </p>
            </div>
        </div>
    </div>
</div>