@using Emlak_Yorumlari_WebApp.ViewModels;
@model AdminStatisticViewModel
@{
    ViewBag.Title = "StatisticsPage";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<link href="~/Content/shop-homepage.css" rel="stylesheet" />
<link href="~/Content/shop-item.css" rel="stylesheet" />




<div class="row">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">

            <div class="well">

                <div class="caption-full">

                    <h4>
                        <div class="alert alert-info" role="alert">
                            <p class="alert-link text-center">SİTE GÜNLÜK İSTATİSTİKLERİ</p>
                        </div>

                    </h4>
                    <br />
                    <p>
                        @Html.ActionLink("GÜNLÜK", "Daily", "AdminStatistics", new { @class = "btn btn-success" }) &nbsp; &nbsp; &nbsp;  @Html.ActionLink("HAFTALIK", "Weekly", "AdminStatistics", new { @class = "btn btn-success" }) &nbsp; &nbsp; &nbsp;  @Html.ActionLink("AYLIK", "Monthly", "AdminStatistics", new { @class = "btn btn-success" }) &nbsp; &nbsp; &nbsp;  @Html.ActionLink("HEPSİ", "All", "AdminStatistics", new { @class = "btn btn-success" })
                    </p>
                    <br />
                    <hr />
                    <br />
                    <p><h4>TOPLAM KULLANICI SAYISI: @Model.totalUser</h4> </p>
                    <br />
                    <hr />
                    <br />
                    <p><h4>AKTİF KULLANICI SAYISI: @Model.totalActiveUser</h4></p>
                    <br />
                    <hr />
                    <br />
                    <p><h4>TOPLAM SİTE SAYISI: @Model.totalPlace</h4> </p>
                    <br />
                    <hr />
                    <br />
                    <p><h4>TOPLAM YORUM SAYISI: @Model.totalComment</h4></p>
                    <br />
                    <hr />
                    <br />
                    <p><h4>AKTİF KULLANICI/SİTE ORANI: @Model.activeUserPlaceRatio</h4> </p>
                    <br />
                    <hr />
                    <br />
                    <p><h4>AKTİF KULLANICI/YORUM ORANI: @Model.activeUserCommentRatio</h4></p>
                    <br />
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
